body{
    background-color: rgb(232, 228, 223);
}
.common{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;/*creates a margin on every side*/
}
.headers{
    font-size: x-large ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
}
.topnav{
    /*Move navigation top right*/
    position: absolute;
        right: 20px;
        top: 10px;
        border: initial;/*override the border*//* initial says g back to the default*/
}
.bottomnav{
    /*Move navigation top right*/
    position: fixed;
        left: 20px;
        bottom: 10px;
        border: initial;/*override the border*//* initial says g back to the default*/
        z-index: 1;
}
.footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    font-size: 20px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    background-color: aliceblue;
}
.video{
    padding-bottom: 40px;
    text-align: center;
}
.tableau{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.img/*Center Image*/{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
}
.underline{
    text-decoration: underline;
}
.centertxt{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.listitems{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.obsv{
    font-size: x-large;
    padding-top: 20px;
}